html {
    font-size: 62.5%;
}

.navDiv {
    background: black;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
}

.navbar {
    background: black!important;   
    font-family: 'Righteous', cursive;
}

.nav-link {
     color: white;
     font-size: 1.8rem;
}
.nav-link:hover {
    color: rgb(17, 107, 160);
    font-size: 2rem;
}

.landingDiv {
    position: relative;
    /* margin-top: 6rem; */
}
.landingImg {
    width: 100%;
    object-fit: cover;
}
 
.photoCredit{
    color: rgb(80, 80, 78);
    position: relative;
    bottom: 2rem;
    font-size: 1.5rem;
    text-decoration: none;
}
.title {
    position: absolute;
    font-size: 8rem;
    color: white;
    text-shadow: 4px 4px 6px rgb(9, 66, 9);
    font-weight: 400;
    bottom: 25%;
    left: 15%;
    display: none;
}

.aboutContainer {
    position: relative;
    font-size: 1.8rem;
    line-height: 2.8rem;
    text-align: center;
    /* background-image: linear-gradient(to top, #d9e4ee 0%, white 100%); */
}
.aboutContainer p {
    text-align: justify;
}

.portraitDiv {
    height: 50%;
    display: flex;
    justify-content: center;
}

.portrait {
    height: 20rem;
    background-image: linear-gradient(-225deg, #FFFEFF 0%, #bfdbc4 120%);
    /* padding: 2rem; */
    box-shadow: 4px 4px 6px rgb(14, 78, 14);
    margin-bottom: 4rem;
    border-radius: 30%;
    
}

div.contactMe {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    padding: 2rem;
}
.contactEmail {
    color: black;
    /* background-image: linear-gradient(-225deg, #FFFEFF 0%, #bfdbc4 120%); */
    padding: 1.5rem;
    /* box-shadow: 4px 4px 6px rgb(14, 78, 14); */
    /* border-radius: 20%; */
}
.contactEmail:hover {
    /* background-image: linear-gradient(-225deg, #FFFEFF 0%, #c29541 120%); */
    box-shadow: 4px 4px 6px rgb(133, 83, 10); 
}

h1 {
    font-size: 3rem;
    text-align: center;
    padding-top: 9rem;
    padding-bottom: 2rem;
}

.aboutText{
    /* visibility: hidden; */
    display: none;
}

/* PORTFOLIO */
.card-title {
    font-size: 2.5rem;
    font-weight: 400;
}

.portfolioContainer {
    background-image: linear-gradient(to bottom, #d9e4ee 0%, white 100%);
}
.cardContainer {
    display: flex;  
    justify-content: center;
    font-size: 1.8rem;
    margin-bottom: 10rem;
}



div.card {
    margin: 1%;
    text-align: center;
    border-radius: 40px/10px;
    box-shadow: 0 70px 63px -60px #000000;  
}

div.card:hover {
    background-color: #2e272e;
    color: white;
    font-weight: 400;
}

img.card-img-top {
    border-radius: 40px/10px;
}
.card-body a{
    color: rgb(230, 130, 17);
    line-height: 3rem;
    font-size: 2rem;
    font-weight: 500;   
}
.card-body a:hover {
    text-decoration: underline;
    text-decoration-style: wavy;
    color: green;
    font-size: 2.3rem;

}




footer {
    background-color: black;
    color: white;
    text-align: center;
    /* line-height: 2.5rem; */
    position: fixed;
    bottom: 0;
    width: 100%;
    font-size: 1.3rem;


}
.social {
    display: flex;
    justify-content: center;  
    align-items: center;
}

.social li {
    padding: 1rem 3rem ;
}

.logo {
    border-radius: 60%;
    background-color: rgb(68, 67, 67);
    font-size: 2.5rem;
    padding: 1rem;
    color: white;
    background-color: rgb(17, 107, 160);
}

.logo:hover {
    color: rgb(31, 139, 201);
    background-color: black;
    font-size: 3.3rem;
    padding: .2rem;
    
}

hr {
    border: 0;
    height: 3px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(34, 104, 151, 0.75), rgba(0, 0, 0, 0));
    background-color: #d9e4ee;
    margin: 0;
}